body{
    background-color: rgb(235, 235, 235);
}

section{
    margin: 0 10rem;
}

// CSS de la grille

.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.card{
    background-color: white;
    width: 20rem;
    height: 28rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    &--primary{
        width: 20rem;
        height: 26rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    &--secondary{
        width: 30rem;
        height: 12rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    &__btn--alignement{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img{
        width: 20rem;
        border-radius: 10px;
    }

    &__body{
        text-align: center;
    }

    p{
        padding: 10px;
    }

    a{
        color: rgb(0, 119, 255);
        border: 2px solid rgb(0, 119, 255);
        text-decoration: none;
        padding: 10px;
        border-radius: 50px;
    }

    &__container-btn{
        background-color: rgb(235, 235, 235);
        padding: 15px;
        margin: 20px;
        border-radius: 0px 0px 5px 5px;

        &--primary{
            background-color: blue;
            padding: 10px;
            border-radius: 5px;
            margin: 20px;

            a{
                color: white;
                text-decoration: none;
            }
        }

        &--secondary{
            background-color: gray;
            padding: 10px;
            border-radius: 5px;
            margin: 20px;

            a{
                color: white;
                text-decoration: none;
            }
        }

        &--third{
            background-color: green;
            padding: 10px;
            border-radius: 5px;
            margin: 20px;

            a{
                color: white;
                text-decoration: none;
            }
        }

        &--four{
            background-color: blue;
            padding: 10px;
            border-radius: 5px;
            margin: 20px;
            max-width: 100px;
            justify-self: center;

            a{
                color: white;
                text-decoration: none;
            }
        }

        &--five{
            background-color: blue;
            padding: 10px;
            border-radius: 5px;
            margin: 20px;
            max-width: 100px;
            justify-self: center;

            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

// CSS de la galerie de grille