@use "../templates.scss";

.container{

    h2{
        font-weight: bold;
    }

    &__grille{
        display: flex;
        flex-wrap: wrap;
        

        &__col-12{
            width: 100%;
            background-color: blue;
            height: 50px;
            border-radius: 10px;
            color: white;
            margin-top: 10px;

        }

        &__col-6{
            &-bleu{
                width: 50%;
                background-color: blue;
                height: 50px;
                border-radius: 10px;
                color: white;
                margin-top: 10px;
            }
            &-gris{
                width: 50%;
                background-color: gray;
                height: 50px;
                border-radius: 10px;
                color: white;
                margin-top: 10px;
            }
        }

        &__col-4{
            &-bleu{
                width: 33.3%;
                background-color: blue;
                height: 50px;
                border-radius: 10px;
                color: white;
                margin-top: 10px;
            }
            &-gris{
                width: 33.3%;
                background-color: gray;
                height: 50px;
                border-radius: 10px;
                color: white;
                margin-top: 10px;
            }
        }

        &__col-3{
            &-bleu{
                width: 25%;
                background-color: blue;
                height: 50px;
                border-radius: 10px;
                color: white;
                margin-top: 10px;
            }
            &-gris{
                width: 25%;
                background-color: gray;
                height: 50px;
                border-radius: 10px;
                color: white;
                margin-top: 10px;
            }
    }
}
}